body {
  /* background-color: black; */
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  background-color: gray; 
  width: 100vw;
}

nav {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 10px;
}

#app {
  width: 80ch;
  text-align: center;
  display: flex;
  flex-direction: column;
}

button {
  background-color: #e7e7e7; 
  color: black;
  border-radius: 18px; 
  font-size: 24px;
  padding: 8px;
  box-shadow: 0 8px 6px -6px black;
}

button:hover {
  background-color: red; /* change this to shade of gray */
}

button.selected {
  background-color: yellow; /* change this to shade of gray */
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: center;
  margin: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  width: 40ch;
  padding: 20px;
}
